<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pnut.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Roaster.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>phazel.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>55160CD71E4B04830043A3CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F23BE4081E508E300068E82F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F23BE4101E508E300068E82F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2E492611E37FF45000C7187</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2E492751E37FF46000C7187</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
